<div class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
	<ul class="nav navbar-nav">
		<li class="active"><%= link_to "Home" %></li>
		<li><%= link_to "Login" %></li>
		<li><%= link_to "Register" %></li>
		<li><%= link_to "FAQ" %></li>
		<li><%= link_to "Membres" %></li>
	</ul>
</div>
</div>